.check
{
    color: red;
    size: 34px;
    background-color: orange;
}
.check2
{
    color: red;
    size: 34px;
    background-color: white;
}
.check3
{
    color: red;
    size: 34px;
    background-color:green;
}
