<!-- <div class="container">
    <div class="reg">
<p>Regestration Form</p>
</div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
     
        Name :
        <input type="text" formControlName="name"> <br>
    
        Email :
      
        <input type="text" formControlName="email"><br>
  
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
   -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="./assets/2016-11-24-19-44-28-525.jpg" alt="John" style="width:100%">
  <h1>Vishal Dubey</h1>
  <p class="title">Angular Developer at 1 Rivet</p>
  <p>GTU University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>